%h1 Въвеждане на ваучер код

%p
  Дали сме ви точка по време на час? Браво! Това значи, че участието ви в час
  ни е харесало. Или просто сме били щедри. Което и от двете да се е случило,
  точката си е ваша и можете да правите с нея каквото си поискате. Попълнете
  полето по-долу с получения код и готово!
%p
  Разбира се, ще се радваме, ако не опитвате да злоупотребявате. Не за друго —
  имаме ви факултетния номер и логовете са относително лесни за обработка.

= form_tag voucher_claims_path, method: :post, class: 'simple_form' do
  %div
    = label_tag :code, 'Код'
    = text_field_tag :code, '', class: 'string', autofocus: true
  %div
    = submit_tag 'Въведи'
