#announcements
  %h1 Новини

  - if admin?
    = link_to 'Нова', new_announcement_path, class: :action

  - unless @announcements.empty?
    - @announcements.each do |announcement|
      = render announcement
  - else
    %p.no-records Все още няма новини

= will_paginate @announcements
