%h1
  Новини
  = rss_feed announcements_url(:rss)

- if admin?
  %p= link_to 'Нова', new_announcement_path

#announcements
  - unless @announcements.empty?
    - @announcements.each do |announcement|
      = render announcement
  - else
    %p.no-records Все още няма новини

= will_paginate @announcements
