.bundle
db/*.sqlite3
db/schema.rb
log/*.log
tmp/**/*
config/database.yml
config/site.yml
config/default_stage
coverage/
db/structure.sql
public/stylesheets/trane.css
public/uploads
Sporkfile.rb
BECK
.DS_Store
__pycache__
_project.vim
tags
gems.tags
.sass-cache
.rvmrc
.rbenv-version
.ruby-gemset
.powrc
public/lectures
tmp/lectures-repo
tmp/homework-repo
tmp/restart.txt
tmp/*.sql
tmp/rspec_output/*
