.bundle
db/*.sqlite3
db/schema.rb
log/*.log
tmp/**/*
config/database.yml
config/secret_token.txt
config/pepper.txt
db/development_structure.sql
public/stylesheets/trane.css
public/uploads
Sporkfile.rb
BECK
.DS_Store
__pycache__
_project.vim
tags
gems.tags
.rvmrc
.sass-cache
