%h2 Ограничения

- if explainer.descriptions.any?
  %p Тази задача има следните ограничения:

  %ul
    - explainer.descriptions.each do |description|
      %li= description

%p
  Ако искате да проверите дали задачата ви спазва ограниченията, следвайте инструкциите в
  описанието на <a href="https://github.com/fmi/ruby-homework">хранилището за домашните</a>.

%p
  Няма да приемаме решения, които не спазват ограниченията. Изпълнявайте <code>rubocop</code>
  редовно, докато пишете кода. Ако смятате, че <code>rubocop</code> греши по някакъв начин,
  пишете ни на #{mail_to 'fmi@ruby.bg'}, заедно с прикачен код или линк към такъв като
  <strong>private</strong> gist. Ако пуснете кода си публично (например във форумите), ще смятаме
  това за преписване.
