%h1 Програмиране с Python

%p
  Това е сайтът на избираемия курс "Програмиране с Python" към
  <abbr title="Факултет по Математика и Информатика">ФМИ</abbr> София.

%h2 Следващото събиране
%p
  Следващото събиране ще се проведе на <strong>10 март</strong> от
  <strong>19:00</strong> часа в зала <strong>200</strong>.
%p
  Ще ви разкажем за останалите колекции в Python, за функциите в Python
  и за няколко дребни неща, за които не ни стигна времето.
%p
  Заповядайте!

%h2 Слайдове от 08.03.2010

%p
  Можете да разгледате #{link_to 'слайдовете от първата лекция', '/slides/01-python-intro.html'}.
  Ако имате някакви въпроси, може да ги зададете на #{link_to 'форумите', '/topics/3'}.

%h2 Новини по RSS!
%p
  Може да следите новитине на курса по RSS. Просто насочете четеца си към
  #{link_to 'нашата хранилка', announcements_path(:format => :rss)}.

%h2 Сирене
%p
  Твърде сюреалистично и може би ще ви тряват субтитри:
%p
  <iframe title="YouTube video player" width="480" height="390" src="http://www.youtube.com/embed/B3KBuQHHKx0" frameborder="0" allowfullscreen></iframe>

%h2 Забавни работи
%p
  Може би не знаете, но курсът ни има <a href="http://www.facebook.com/group.php?gid=104970619536589">
  група във Facebook</a> и <a href="http://twitter.com/pyfmi">twitter потребител</a>.
  Може да се присъедините към първото и да последвате второто.

%h2 Старите сайтове на курса
%p
  Ако търсите стария сайт на курса, може да го намерите <a href="http://2010.fmi.py-bg.net">тук</a>.
  Ако пък търсите по-стария сайт, той се намира <a href="http://oldfmi.py-bg.net">тук</a>.
