#home-page
  %h1 Здравейте!
  %p
    Това е сайтът на избираемия курс "#{Language.course_name}" към
    <abbr title="Факултет по Математика и Информатика">ФМИ</abbr> София.

  %h1 Новини
  #announcements= render @announcements

  %ul= render "home/previous_sites/#{Language.language}"
