%h1 Програмиране с Python
%p
  Това е сайтът на избираемия курс "Програмиране с Python" към
  <abbr title="Факултет по Математика и Информатика">ФМИ</abbr> София.
%p
  Следващото събиране ще се проведе на <strong>8 март</strong> от
  <strong>19:00</strong> часа в зала <strong>200</strong>. Заповядайте!
%p
  <strong>Регистрацията все още не работи.</strong> Моля почакайте.
  През това време може да се забавлявате със сюреалистичен хумор
  от Monty Python:
%div
  <iframe title="YouTube video player" width="480" height="390" src="http://www.youtube.com/embed/4vuW6tQ0218" frameborder="0" allowfullscreen></iframe>
%p
  Ако търсите стария сайт на курса, може да го намерите <a href="http://2010.fmi.py-bg.net">тук</a>.
  Ако пък търсите по-стария сайт, той се намира <a href="http://oldfmi.py-bg.net">тук</a>.
