%h1 Програмиране с Python

%p
  Това е сайтът на избираемия курс "Програмиране с Python" към
  <abbr title="Факултет по Математика и Информатика">ФМИ</abbr> София.

%h2 Следващото събиране
%p
  Следващото събиране ще се проведе на <strong>8 март</strong> от
  <strong>19:00</strong> часа в зала <strong>200</strong>.
%p
  Ще направим въведение в езика. Ще ви запознаем с интерактивния
  интерпретатор, вградените типове, няколко конструкции за управление и 
  други основни работи.
%p
  Заповядайте!

%h2 Регистрация
%p
  <strong>Регистрацията вече работи.</strong> Моля пробвайте да се
  регистрирате.

%h2 Забавни работи
%p
  Може би не знаете, но курсът ни има <a href="http://www.facebook.com/group.php?gid=104970619536589">
  група във Facebook</a> и <a href="http://twitter.com/pyfmi">twitter потребител</a>.
  Може да се присъедините към първото и да последвате второто.

%h2 Спам, спам, спам
%p
  Ако сте направили всичко друго, което може да се прави на сайта, може
  да се позабавлявате с Monty Python:
%p
  <iframe title="YouTube video player" width="480" height="390" src="http://www.youtube.com/embed/anwy2MPT5RE" frameborder="0" allowfullscreen></iframe>

%h2 Старите сайтове на курса
%p
  Ако търсите стария сайт на курса, може да го намерите <a href="http://2010.fmi.py-bg.net">тук</a>.
  Ако пък търсите по-стария сайт, той се намира <a href="http://oldfmi.py-bg.net">тук</a>.
