%h1 Програмиране с Python
%p
  Това е сайтът на избираемия курс "Програмиране с Python" към
  <abbr title="Факултет по Математика и Информатика">ФМИ</abbr> София.
%p
  Първото събиране ще се проведе на <strong>1 март</strong> от
  <strong>19:00</strong> часа в зала <strong>200</strong>. Заповядайте!
%p
  Ако търсите стария сайт на курса, може да го намерите <a href="http://2010.fmi.py-bg.net">тук</a>.
  Ако пък търсите по-стария сайт, той се намира <a href="http://oldfmi.py-bg.net">тук</a>.
