#home-page
  %h1 Здравейте!
  %p
    Това е сайтът на избираемия курс "Програмиране с Python" към
    <abbr title="Факултет по Математика и Информатика">ФМИ</abbr> София.

  %h1 Новини
  = render @announcements

  %h1 Сайтове на предишните издания на курса
  %p
    Ако търсите сайт на минало издание на курса "Програмиране с Python", може да го намерите на:
    %ul
      %li <a href="http://2011.fmi.py-bg.net/">Летен семестър на уч. 2010/11</a>
      %li <a href="http://2010.fmi.py-bg.net/">Летен семестър на уч. 2009/10</a>
      %li <a href="http://oldfmi.py-bg.net/">Летен семестър на уч. 2008/09 и на уч. 2007/08</a>
