#home-page
  %h1 Здравейте!
  %p
    Това е сайтът на избираемия курс "Програмиране с Python" към
    <abbr title="Факултет по Математика и Информатика">ФМИ</abbr> София.

  %h1 Новини
  = render @announcements

  %h1 Стария сайт на курса
  %p
    Ако търсите стария сайт на курса, може да го намерите <a href="http://fmi.rails-bg.net">тук</a>.
