#home-page
  %h1 Здравейте!
  %p
    Това е сайтът на избираемия курс "#{Language.course_name}" към
    <abbr title="Факултет по Математика и Информатика">ФМИ</abbr> София.

  %h1 Новини
  #announcements= render @announcements

  %h1 Сайтове на предишни издания на курса
  %p
    Ако търсите сайтовете на някои от предишните издания на курса, може да ги намерите тук:
    %ul
      %li За учебната 2011/2012 година — <a href="http://2011.fmi.ruby.bg">2011.fmi.ruby.bg</a>
      %li За учебната 2008/2009 година — <a href="http://fmi.rails-bg.net">fmi.rails-bg.net</a>
