language: ruby
course_id: ruby-local
course_email: fmi@ruby.bg
course_name: Програмиране с Ruby
course_domain: fmi.ruby.bg
previous_instances:
  - name: За учебната 2011/2012 година
    url: 2011.fmi.ruby.bg
  - name: За учебната 2010/2011 година
    url: 2010.fmi.ruby.bg

# Optional
# lectures_repository:
# lectures_branch: master
# homework_repository:
# homework_branch:
# hooks_secret_key:

# Production only:
# pepper: ''
# secret_token: ''
# google_analytics_key: ''
# secret_key_base: ''
# smtp_settings:
#   address:
#   port:
#   authentication:
#   user_name:
#   password:
#   domain:
#   enable_starttls_auto:
