.code.js-code-with-comments
  = render form_partial, *form_partial_args if commentable

  - code.lines.each do |line|
    .line{'data-line-number' => line.line_number}
      .code-line.highlighter{'class' => line.html_class} <span class="line-numbers" data-line-number="#{line.line_number}"></span><span class="pre highlight">#{line.html}</span>

      - if commentable and line.commentable?
        %button.add-comment-on-line(data-add-comment) +

      .code-comments(data-code-comments)
        - line.comments.each do |comment|
          = inline_comment comment

        - if line.comments.any? and commentable and line.commentable?
          .options
            %button.reply-button(data-add-comment data-reply-button) Нов коментар
