%h1 Табло

%p Здрасти. Тук можете да намерите всевъзможна информация.
%p
  %em Тази страница е в процес на разбаротка. Очаквайте промени.

%h2 Точки за участие в час
%p
  Ако участвате в час, получавате лакомство, комбинирано с ваучър код. Кодът
  ви дава <strong>1 точка</strong>. Ако имате такъв, побързайте да го въведете —
  времето им на съществуване е ограничено.
