#challenges
  %h1 Предизвикателства
  = admin_only do
    = link_to 'Ново', new_challenge_path, class: :action

  %ul
    - @challenges.each do |challenge|
      %li{class: (:hidden if challenge.hidden?)}
        = link_to challenge.name, challenge
        - if challenge.hidden?
          (скрито)
        (краен срок: #{l(challenge.closes_at)})
