%h1 Сайтове на предишни издания на курса
%p
  Ако търсите сайтовете на някои от предишните издания на курса, може да ги намерите тук:
%ul
  %li <a href="http://2011.fmi.py-bg.net/">Летен семестър на учебната 2010/11</a>
  %li <a href="http://2010.fmi.py-bg.net/">Летен семестър на учебната 2009/10</a>
  %li <a href="http://oldfmi.py-bg.net/">Летен семестър на учебната 2008/09 и на учебната 2007/08</a>
