ol.topic {
  > li {
    @include contribution;
    .body table {
      background-color: white;
    }
  }
  .body p:first-child { margin-top: 0; }
}

table.topics {
  @include data-table;

  td.title { @include link-table-cell(17px); }

  td.last-reply { font-size: $font-small; }

  time { display: block; }

  @include mobile-only {
    .reply-count { display: none; }
  }
}

.new-reply { @include content; }
p.markdown-explanation { color: #999; font-style: italic; max-width: 650px; }
