.btn,
.simple_form .btn[type="submit"] {
  display: inline-block;

  background-color: $button-color;
  border: none;
  border-radius: 4px;

  color: black;

  font-family: Verdana, Geneva, "Bitstream Vera Sans", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 13px;
  padding: 8px 16px;

  cursor: pointer;
}

.btn.primary,
.btn[type="submit"],
.simple_form .btn[type="submit"],
.btn:hover {
  background-color: $subtitle-color;
  color: white;
}
