@mixin content {
  h1 { @include heading-1; margin: 1em 0; }
  h1:first-of-type { margin-top: 0; }
  h2 { @include heading-2; margin: 1.75em 0 1em; }
  h3 { @include heading-3; margin: 2em 0 1em; }

  p:first-child { margin-top: 0; }

  ul, ol { margin: 10px 0 10px 30px; }
  li { margin: 2px 0; }
  ul > li { list-style: circle; }
  ul > li > ul > li { list-style: square; }
  ol > li { list-style: decimal; }

  pre { font-family: $font-monospace; padding: 10px; font-size: $font-monospace-size; }
  code { font-family: $font-monospace; font-size: $font-monospace-size; }
  blockquote { font-style: italic; padding-left: 20px; }

  img.emoji { width: 20px; height: 20px; vertical-align: middle; }

  table:not([class=CodeRay]) { @include data-table; }
}
