@mixin contribution {
  & { margin: 5px 0; overflow: hidden; padding: 20px; }
  &:nth-child(even) { background-color: #f0f0f0; }
  &.starred { background-color: #fffdd0; }

  aside { float: right; }
  aside img { display: block; }

  .body { @include content; margin-right: 200px; }

  .published-at { border-top: 1px dotted gray; color: #666; font-size: $font-small; margin-right: 200px; padding-top: 5px; }

  a.permalink {
    color: #666;
    text-decoration: none;
    &:hover { color: $color-link; }
  }

  @include markdown;

  a[data-toggle-star=star],
  a[data-toggle-star=unstar] { background: { position: top left; repeat: no-repeat; }; padding-left: 20px; }
  a[data-toggle-star=star] { background-image: image-url('icons/star.png'); }
  a[data-toggle-star=unstar] { background-image: image-url('icons/unstar.png'); }
}
