#dashboard {
  @include content;

  .points {
    float: right;
    width: 120px;

    border: 1px solid $light-border;
    border-radius: 5px;

    margin-left: 30px;

    h2 { display: none; }

    p {
      text-align: center;

      strong {
        display: block;
        margin-top: 5px;

        color: #008833;
        font-size: 50px;
        line-height: 50px;
      }

      em {
        display: block;
        margin-top: 5px;

        text-align: center;
      }
    }
  }
}
