#dashboard {
  @include content;

  .points { border: 1px solid $light-border; float: right; width: 120px; };
  .points h2 { display: none; }
  .points p { text-align: center; }
  .points p strong { color: #008833; display: block; font-size: 50px; line-height: 50px; margin-top: 5px; }
  .points p em { display: block; margin-top: 5px; text-align: center; }

  .group {
    border-top: 1px dotted #ccc;
    overflow: auto;
    width: 100%;
    padding-bottom: 10px;

    .left { float: left; width: 50%; }
    .right { float: right; width: 50%; }
  }
}