#dashboard {
  @include content;

  .points { border-radius: 5px; border: 1px solid $light-border; float: right; margin-left: 30px; width: 120px; }

  .points {
    h2     { display: none; }
    p      { text-align: center; }
    strong { color: #008833; display: block; font-size: 50px; line-height: 50px; margin-top: 5px; }
    em     { display: block; margin-top: 5px; text-align: center; }
  }
}
