body > header {
  background: image-url('header.png') repeat-x;
  border-bottom: 1px solid #999;
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  a.logo { float: left; margin: 10px 40px 0 40px; }
  h1 { font-family: $font-site-title; font-size: $font-huge; font-weight: bold; margin-top: 35px; }
  h2 { margin-top: 10px; }

  nav { color: $dark-text; font-weight: bold; position: absolute; right: 50px; bottom: 10px; }
  nav li { border-left: 2px solid $dark-text; display: inline; padding: 0 6px 0 10px; }
  nav li:first-child { border-left: none; }
  nav li a { color: $title-color; font-size: $font-normal; }
  nav li a:hover { text-decoration: underline; }
}

body > nav {
  position: absolute;
  top: 160px;
  left: 30px;

  ul li { margin: 4px 0; }
  ul li a {
    background-color: #f0f0f0;
    border-radius: 4px;
    color: black;
    display: block;
    font-family: $font-navigation;
    padding: 10px 15px 12px;
    text-decoration: none;
    width: 160px;
  }
  ul li a:hover { background-color: #3371a3; color: white; text-decoration: none; }
}

.tip-of-the-day {
    a {
        background-color: #f0f0f0;
        border-radius: 0 0 6px 6px;
        color: black;
        display: block;
        font-family: $font-navigation;
        padding: 10px 15px 12px;
        text-decoration: none;
        width: 400px;
        float: right; //border-radius: 0px 0px 6px 6px; padding-left: 8px;
    }

    a:hover { background-color: #3371a3; color: white; text-decoration: none; }
}

#container { position: absolute; top: 170px; left: 250px; right: 60px; }
#container > footer {
  border-top: 1px dotted #ccc;
  font-size: $font-small;
  margin: 40px 0;
  padding-top: 10px;

  a { color: #666; }
}

@mixin flash($background, $border, $icon) {
  background: { color: $background; image: image-url("icons/#{$icon}.png"); position: 15px 15px; repeat: no-repeat; }
  border: 1px solid $border;
  margin-bottom: 20px;
  padding: 15px 40px;
}

.flash.error,
.flash.alert { @include flash(#fdd, #f55, 'error'); }
.flash.notice { @include flash(#dfd, #5f5, 'tick'); }
