.inline-comment-form { display: none; }

.code .line {
  position: relative;

  button.add-comment-on-line {
    background-color: $subtitle-color;
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
    font-size: 13px;
    font-weight: bold;
    height: 20px;
    left: -10px;
    line-height: 15px;
    padding: 0;
    position: absolute;
    top: 0;
    width: 20px;
    z-index: 10;
  }

  &:hover button.add-comment-on-line { display: block; }

  .code-comments { background-color: $gray; }
  .code-comments .options {
    background-color: $gray;
    padding: 10px;

    .reply-button { @include button; }
  }

  &:first-of-type .code-comments { border-top-width: 0; }
  &:last-of-type  .code-comments { border-bottom-width: 0; }

  .inline-comment-form {
    padding: 10px;

    textarea {
      border-radius: 4px;
      border: 1px solid $light-border;
      box-sizing: border-box;
      display: block;
      font-size: 14px;
      height: auto;
      min-height: 120px;
    }

    .buttons { margin-top: 10px; }
    .buttons .comment-button { @include primary-button; }
    .buttons .cancel-button  { @include button; }
  }

  .inline-comment {
    min-height: 80px;
    padding: 10px;

    &:nth-child(2n) { background-color: white; }

    aside { float: left; }

    .body,
    .details { margin-left: 70px; margin-right: 10px; }

    .body   { font-size: 14px; }
    .body p { margin-bottom: 15px; }

    .details {
      border-top: 1px solid $light-border;
      font-size: 12px;
      padding-top: 5px;

      .right { float: right; }
      .permalink { color: $dark-text; }
    }
  }
}
