#leaderboard > table {
  @include data-table;

  max-width: 550px;

  img { border-radius: 4px; display: block; }

  .rank   { text-align: center; }
  .photo  { padding: 5px; }
  .name   { width: 100%; }
  td.name { @include link-table-cell; }
  .points { text-align: center; }

  tr.gold   td { background-color: #f8f2c4; }
  tr.silver td { background-color: #efefef; }
  tr.bronze td { background-color: #f5ebe4; }

  .medal { float: right; height: 16px; margin: 11px; width: 16px; }

  .medal.gold   { background-image: image_url('icons/medal_gold_3.png');   }
  .medal.silver { background-image: image_url('icons/medal_silver_3.png'); }
  .medal.bronze { background-image: image_url('icons/medal_bronze_3.png'); }
}
