.task {
  @include content;
  p.closed { font-weight: bold; }

  dl dt { display: block; float: left; font-weight: bold; width: 100px; }
  dl dd { clear: right; margin: 5px 0; }
}

table.solutions {
  .points { width: 130px; }
  .results { width: 150px; }

  .results span { display: inline-block; margin-left: 10px; }
  .results span:first-child { margin-left: 0; }

  .passed { @include replace-with-image('icons/flag_green.png', 16px, 16px); }
  .failed { @include replace-with-image('icons/flag_red.png', 16px, 16px); }
  .lines { @include replace-with-image('icons/page_white_text.png', 16px, 16px); }

  .point { @include replace-with-image('icons/emoticon_grin.png', 16px, 16px); display: inline-block; }
}

#tasks { @include content; }

.solution {
  @include content;

  ul li { background: { position: 0 0; repeat: no-repeat; } list-style: none; padding-left: 25px; }
  ul li.points { background-image: image-url('icons/emoticon_grin.png'); }
  ul li.bonus-points { background-image: image-url('icons/star.png'); }
  ul li.passed-tests { background-image: image-url('icons/flag_green.png'); }
  ul li.failed-tests { background-image: image-url('icons/flag_red.png'); }
}

#my-solution textarea#code { font-family: $font-monospace; width: 600px; height: 600px; }
