.task {
  @include content;
  p.closed { font-weight: bold; }

  dl dt { display: block; float: left; font-weight: bold; width: 100px; }
  dl dd { clear: right; margin: 5px 0; }
}

table.solutions {
  @include data-table;

  .points { width: 150px; white-space: nowrap; }
  .results { width: 180px; white-space: nowrap; }

  .results span { display: inline-block; margin-left: 10px; }
  .results span:first-child { margin-left: 0; }

  .passed { @include replace-with-image('icons/flag_green.png', 16px, 16px); }
  .failed { @include replace-with-image('icons/flag_red.png', 16px, 16px); }
  .lines { @include replace-with-image('icons/page_white_text.png', 16px, 16px); }
  .comments { @include replace-with-image('icons/comments.png', 16px, 16px); }

  .point { @include replace-with-image('icons/emoticon_grin.png', 16px, 16px); display: inline-block; }
  .bonus-point { @include replace-with-image('icons/star.png', 16px, 16px); display: inline-block; }
  .penalty-point { @include replace-with-image('icons/stop.png', 16px, 16px); display: inline-block; }
}

#tasks {
  @include content;

  li.hidden { color: $disabled; }
}

.solution {
  @include content;

  .results { @include test-results; }

  article.revision { border: 1px dotted $light-border; padding: 2em; margin: 2em 0; }
  article.revision h3 { margin: 0 0 2em; }
  article.comment { @include contribution; }
  article.comment:first-of-type { margin-top: 1em; }
  article.revision > pre,
  > pre { background-color: #f8f8ff; color: #444; padding: .5em 1em; border: 1px solid #dedede; border-radius: 2px; overflow-x: auto; }
}

#my-solution {
  .violations { background-color: #fdd; border: 1px #f55 solid; margin-top: 1em; padding: 20px; }
  .violations p { margin: 0 0 1em 0; }
  textarea#code { font-family: $font-monospace; width: 600px; height: 600px; }
}

p.task-guide-notice { font-style: italic; color: $quiet; }
#submission-guide { @include content; }
