ul.users {
  max-width: 1000px;
  margin: 0 auto;

  li {
    float: left;

    width: 178px;
    height: 220px;

    padding: 10px;
    margin: 10px;

    a {
      display: block;
      text-align: center;

      &:hover { text-decoration: none; }
    }

    img {
      display: block;

      margin-bottom: 5px;
    }

    &:hover {
      background-color: $gray;
      border-radius: 5px;
    }
  }

  @include clear-after;
}

#user-page {
  .faculty-number { color: $subtitle-color; font-family: $font-headings; font-size: $font-large; }

  dl { overflow: hidden; }
  dl dt { display: block; float: left; font-weight: bold; width: 100px; }
  dl dt:first-child { margin-top: 5px; }
  dl dd { clear: right; margin: 5px 0; }

  .attributions, .posts { @include content; }
}

.avatar {
  border: 4px solid transparent;
  border-radius: 10px;

  &.admin { border-color: #fffa83; }
}
