ul.users {
  margin: 0 auto;
  max-width: 1000px;

  li {
    float: left;
    margin: 10px;
    padding: 10px;
    width: 178px;

    a { display: block; text-align: center; }
    a:hover { text-decoration: none; }

    img { display: block; margin-bottom: 5px; width: 100%; }
    .name { height: 40px; }

    &:hover { background-color: $gray; border-radius: 5px; }
  }

  @media (max-width: 440px) {
    li { width: calc(50% - 20px); }
  }

  @media (min-width: 441px) and (max-width: $mobile-width) {
    li { width: calc(33% - 20px); }
  }

  @include clear-after;
}

#user-page {
  .faculty-number { color: $subtitle-color; font-family: $font-headings; font-size: $font-large; }

  dl { overflow: hidden; }
  dl dt { display: block; float: left; font-weight: bold; width: 100px; }
  dl dt:first-child { margin-top: 5px; }
  dl dd { clear: right; margin: 5px 0; }

  .attributions, .posts { @include content; }
}

.avatar {
  border: 4px solid transparent;
  border-radius: 10px;

  &.admin { border-color: #fffa83; }
}
