$font-small: 13px;
$font-normal: 15px;
$font-large: 18px;
$font-larger: 22px;
$font-huge: 28px;

$font-text: Arial, Verdana, Geneva, "Bitstream Vera Sans", Helvetica, sans-serif;
$font-navigation: Verdana, Geneva, "Bitstream Vera Sans", Helvetica, sans-serif;
$font-headings: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
$font-monospace: Inconsolata-dz, Monaco, Terminus, monospace;
$font-monospace-size: 13px;
$font-site-title: Georgia, serif;

$light-border: #c4cccc;
$dark-border: #6f7777;
$button-color: #f8f7f7;
$title-color: #234764;
$subtitle-color: #3371a3;
$dark-text: #234;
$background: white;
$alert: red;
$disabled: #999;
$quiet: #666;
$hint: #888;
$color-link: #1341a3;
$action: #5f9ea0;
$action-hover: #2f6e80;

$margin: 10px;
