$font-small: 13px;
$font-normal: 15px;
$font-large: 18px;
$font-larger: 22px;
$font-huge: 28px;

$font-text: Arial, Verdana, Geneva, "Bitstream Vera Sans", Helvetica, sans-serif;
$font-navigation: Verdana, Geneva, "Bitstream Vera Sans", Helvetica, sans-serif;
$font-headings: Georgia, 'Bitstream Vera Serif', 'New York', Palatino, serif;
$font-monospace: Inconsolata-dz, Monaco, Terminus, monospace;

$light-border: #c4cccc;
$dark-border: #6f7777;
$button-color: #f8f7f7;
$title-color: #234764;
$subtitle-color: #3371a3;
$dark-text: #234;
$background: white;
$alert: red;
$disabled: #666;
$hint: #888;

$color-link: #00a;
$margin: 10px;
