$font-small: 13px;
$font-normal: 15px;
$font-large: 18px;
$font-larger: 22px;
$font-huge: 24px;

$font-text: Arial, Verdana, Geneva, "Bitstream Vera Sans", Helvetica, sans-serif;
$font-navigation: Verdana, Geneva, "Bitstream Vera Sans", Helvetica, sans-serif;
$font-headings: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
$font-monospace: Inconsolata-dz, Monaco, Terminus, monospace;
$font-monospace-size: 13px;
$font-site-title: $font-text;

$mobile-width: 700px;
$mobile-width-min: $mobile-width + 1px;

$gray: darken(white, 4%);
$light-gray: lighten($gray, 2%);
$red: #940600;
$dark-red: darken($red, 15%);
$blue: #3371a3;
$dark-blue: #234764;
$green: green;
$orange: orange;

$main-color: $red;
$menu-color: $main-color;
$light-border: lighten(#c4cccc, 10%);
$dark-border: #c4cccc;
$button-color: $gray;
$title-color: lighten(black, 10%);
$subtitle-color: $main-color;
$dark-text: #234;
$background: white;
$alert: red;
$disabled: #999;
$quiet: #666;
$hint: #888;
$color-link: #1341a3;

$margin: 10px;
