%p Здрасти #{@resource.name},

%p
  Някой е поискал да смени паролата на потребителя ти в сайта на курса. Ако това не си
  ти, моля игнорирай това писмо. Ако пък си, намираме го за много срамно и определено
  бихме се притеснявали на твое място. Не е ОК. Ще вземеш да забравиш нещо важно някой
  ден.

%p
  За да си подновиш паролата, ползвай
  = link_to 'този линк', edit_password_url(@resource, reset_password_token: @token)
