#activity-feed
  %h1
    Активност
    = rss_feed activities_url(:rss)

  %ul
    - @feed.each_activity do |activity|
      %li{class: activity.kind}
        = render 'activity_content', :activity => activity
        %time{datetime: activity.happened_at.iso8601}= l activity.happened_at

