%p.markdown-explanation
  Форумите се форматират с <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>.
  Той конвертира текст до HTML. Ползва се много в open source community-то (и в частност, Ruby
  community-то). Добре е да го знаете. Може да ползвате <a href="http://www.emoji-cheat-sheet.com">Emoji</a>
  емотикони, ако искате да бъдете по-графични.
