%h1 Ваучъри
= link_to 'Добави нови ваучъри', new_voucher_path

%table
  %thead
    %tr
      %th Код
      %th Потребител
  %tbody
    - @vouchers.each do |voucher|
      %tr
        %td= voucher.code
        %td
          - if voucher.user
            = link_to voucher.user.name, voucher.user
          - else
            %em Свободен
