%h1 Ваучъри
= link_to 'Добави нови', new_voucher_path, class: :action

%table.data-table
  %thead
    %tr
      %th Код
      %th Потребител
      %th Взет на
  %tbody
    - @vouchers.each do |voucher|
      %tr
        %td= voucher.code
        - if voucher.user
          %td= link_to voucher.user.name, voucher.user
          %td
            %time{:datetime => voucher.claimed_at.iso8601}
              преди
              = time_ago_in_words voucher.claimed_at
        - else
          %td
          %td
